<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="{{ url_for('static', path='/css/sidebar.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='/css/content.css') }}" rel="stylesheet">
<!-- <link href="{{ url_for('static', path='/css/drop.css') }}" rel="stylesheet"> -->

<div style="position: fixed;">
<nav class="sidebar-navigation">
    <ul>
        <li class="menu">
            <select id="localization-switcher" class="locale-switcher">
                <option value="ru" lang-key="rus"></option>
                <option value="en" lang-key="eng"></option>
              </select>
        </li>
    </ul>
	<ul>
		<li id="find_gif" class="menu active">
			<i class="fa fa-magnifying-glass"></i>
			<span class="tooltip" lang-key="search"></span>
		</li>
        <li id="tape_gif" class="menu">
			<i class="fa fa-camera-retro"></i>
			<span class="tooltip" lang-key="tape"></span>
		</li>
        <li id="private_gif" class="menu">
			<i class="fa fa-user-secret"></i>
			<span class="tooltip" lang-key="private"></span>
		</li>
        <li id="random_gif" class="menu">
			<i class="fa fa-blind"></i>
			<span class="tooltip" lang-key="random"></span>
		</li>
        <li id="add_gif" class="menu">
			<i class="fa fa-share"></i>
			<span class="tooltip" lang-key="add_gif"></span>
		</li>
		<li id="create_gif" class="menu">
			<i class="fa fa-file-video"></i>
			<span class="tooltip" lang-key="create_gif"></span>
		</li>
		
		<li id="settings_user" class="menu">
			<i class="fa fa-cogs"></i>
			<span class="tooltip" lang-key="settings"></span>
		</li>
        <li id="" class="">
            <div class="set-size charts-container">
            <div class="pie-wrapper pie-wrapper--solid progress-88">
                <span class="label">100<span class="smaller">%</span></span>
              </div>
            </div>
			
			<span class="tooltip" lang-key="percent"></span>
		</li>
	</ul>
</nav>
</div>


<script id="script_local" src="{{ url_for('static', path='/js/localizate.js') }}" rel="stylesheet"></script>
<script id="script_local" src="{{ url_for('static', path='/js/remove_containers.js') }}" rel="stylesheet"></script>

<script>
    window.onload = function() {
        find_gif_create();
    };

    document.querySelector('#find_gif').addEventListener('click', function() {
        clear();
        let search = document.createElement("input");
        search.id="search_inp";
        search.classList.add("search");
        document.body.appendChild(search);
        let submit_search = document.createElement("div");
        submit_search.id="search_submit_btn";
        submit_search.setAttribute("lang-key", "search");
        submit_search.classList.add("search-btn");
        document.body.appendChild(submit_search);

        // let submit_search = document.querySelector("#search_submit_btn");
    //     let search = document.querySelector("#search_inp");
        submit_search.addEventListener('click', function() {
            alert(search.value)
        

            $.ajax({
                url: '/content',
                method: 'get',
                dataType: 'html',
                data: {find: search.value},
                success: function(data){
                    alert(data);
                }
            });
        });
        find_gif_create();
    });

    document.querySelector('#tape_gif').addEventListener('click', function() {
        $.ajax({
            url: '/index.php',
            method: 'get',
            dataType: 'html',
            data: {text: 'Текст'},
            success: function(data){
                // alert(data);
                
            }
        });

        find_gif_create();
    });

    document.querySelector('#random_gif').addEventListener('click', function() {
        $.ajax({
            url: '/index.php',
            method: 'get',
            dataType: 'html',
            data: {text: 'Текст'},
            success: function(data){
                alert(data);
            }
        });
        find_gif_create();
    });

    
    function find_gif_create() {
        // clear();
 
        let container_find = document.createElement("div");
        container_find.id="find_link"
        container_find.classList.add('container-find')
        document.body.appendChild(container_find);
        for(let i = 1; i<13; i++){
            let div = document.createElement('div');
            div.classList.add('active-image');
            container_find.appendChild(div);

            let image = document.createElement('img');
            image.id=`img${i}`
            image.classList.add('in-image');
            image.setAttribute("onclick", `save_img(${image.id})`);
            image.setAttribute("src", `static/images/cat${i}.gif`);
            div.appendChild(image);
            
            let save_div = document.createElement('div');
            save_div.classList.add('hide_load');
            save_div.innerHTML = `<i class="fa fa-thumbs-share>"></i>`
            div.appendChild(save_div);

            let like_div = document.createElement('div');
            like_div.classList.add('hide_sl');
            like_div.innerHTML = `<i class="fa-regular fa-heart"></i>`
            div.appendChild(like_div);  
        }
        reload_lang();
    }

    document.querySelector('#create_gif').addEventListener('click', function() {
        
        clear();
        drop_link_create();
        reload_lang();
    });


    document.querySelector('#add_gif').addEventListener('click', function() {
        
        clear();
        reload_lang();
    });

    document.querySelector('#settings_user').addEventListener('click', function() {
        $.ajax({
            url: '/index.php',
            method: 'get',
            dataType: 'html',
            data: {text: 'Текст'},
            success: function(data){
                alert(data);
            }
        });
        find_gif_create();
    });


    function reload_lang(){
        let selectElement = document.querySelector('#localization-switcher')
        const event = new Event('change');
        selectElement.dispatchEvent(event);
    }

    function drop_link_create() {
    let link = document.createElement("link");
        link.href="{{ url_for('static', path='/css/drop.css') }}";
        link.rel="stylesheet";
        document.body.appendChild(link);
        
        let container_drop = document.createElement("div");
        container_drop.id="drop_field"
        container_drop.classList.add('container-drop')
        document.body.appendChild(container_drop);

        let drop_text = document.createElement("div");
        drop_text.classList.add('drop-text');
        container_drop.appendChild(drop_text);

        let h_text = document.createElement("h1");
        h_text.setAttribute("lang-key", "drop_zone");
        drop_text.appendChild(h_text)

        let drop_zone = document.createElement("div");
        drop_zone.classList.add('add-file');
        drop_zone.id='drop_zone';
        drop_zone.setAttribute("ondrop", "dropHandler(event)");
        drop_zone.setAttribute("ondragover", "dragOverHandler(event)");
        container_drop.appendChild(drop_zone);

        let canv = document.createElement("canvas");
        canv.id="noisy-canvas";
        drop_zone.appendChild(canv);
        
        let script_noise = document.createElement("script");
        script_noise.src = "{{ url_for('static', path='/js/noise.js') }}";
        script_noise.defer = true;
        document.body.appendChild(script_noise);

        let script_drop = document.createElement("script");
        script_drop.src = "{{ url_for('static', path='/js/drop.js') }}";
        script_drop.defer = true;
        document.body.appendChild(script_drop);
    }


    function save_img(id){
        alert(id)
    }


const menu_switchers = [...document.querySelectorAll('.menu')]
menu_switchers.forEach(item => {
    item.addEventListener('click', function() { 
        menu_switchers.forEach(item => item.classList.remove('active'))
		this.classList.add('active')
	})
});

// const switchers = [...document.querySelectorAll('.active-image:hover')]

// switchers.forEach(item => {
//     alert()
// 	item.addEventListener('click', function() {
//         enu_switchers.forEach(item => item.classList.add('active'))
        
//         // let choise = Math.floor(Math.random()*3)+1;

      
// 	})
    
// })

$(".active-image").hover(
  function () {
      alert()
      

        $(this)
        .css("z-index", "999")
        .append(
          `
            <div class="opt-edit">
                <i class="">Подробнее</i>
            </div>`
        );
       

  },
  function () {
    //When mouse hovers out DIV remove tools
    // $(this).css("z-index", "0").find(".opt-edit").remove();
  }
);
</script>