* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Lato", sans-serif;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    background: #3b4465;
}


img{
    margin-left: 90px;
    width: 48%;
    margin: 10px;
    object-position:center;
    object-fit:cover;
    border-radius: 10px;
}

/* img:hover{
    object-position:center;

    width:5%;
} */
.container-find{
    margin-left: 90px;
    /* overflow-y:hidden; */
    /* height: 90vh; */
    left: 80px;
    border-radius:  10px;
    z-index: 1;
}

.animateForward {
	animation: effectLayerMoveLeft .5s ease-in forwards;
}

.search{
    position: fixed;
    margin-top: 10px;
    margin-left: 90px;
    width: 500px;
    font-size:20px;
    padding: 5px;
    border-radius: 5px;
    z-index: 12;
}

.search-btn{
    position: fixed;
    margin-top: 10px;
    margin-left: 590px;
    width: 100px;
    font-size:20px;
    padding: 5px;
    border-radius: 5px;
    z-index: 12;
}


@keyframes effectLayerMoveLeft {
    0% {
        transform: translateX(-20vw) scale(1);
	}
    50% {
        transform: translateX(0) scale(1.5);
	}
	100% {
        transform: translateX(45vw) scale(1);
	}
}

.animateBack {
	animation: effectLayerMoveRight .3s ease-in forwards;
}

@keyframes effectLayerMoveRight {
    0% {
        transform: translateX(5vw);
	}
    50% {
        transform: translateX(0) scale(0.5);
	}
	100% {
        transform: translateX(-45vw);
	}
}

.container #right-top .animateTop {
	animation: effectLayerMoveTop .3s ease-in forwards;
}

@keyframes effectLayerMoveTop {
    0% {
        transform: translateY(-45vw);
	}
    50% {
        transform: translateX(0);
	}
	100% {
        transform: translateX(5vw);
	}
}

.container #right-top .animateBottom {
	animation: effectLayerMoveBottom .3s ease-in forwards;
}

@keyframes effectLayerMoveBottom {
    0% {
        transform: translateY(-45vw);
	}
    50% {
        transform: translateX(0);
	}
	100% {
        transform: translateX(5vw);
	}
}