* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Lato", sans-serif;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    background: #3b4465;
}


.container-find{
    /* display:inline-table; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);  grid-gap: 20px;
    margin-left: 90px;
    width: 90vw;
    left: 80px;
    justify-content: space-between;
}

.active-image {
    /* width: 100%; */
    height: 100%;
    padding-bottom: 100%; /* Maintain aspect ratio */
    position: relative;
    object-fit: cover; /* Scale the image while preserving aspect ratio */
  object-position: center; 
  
  }

.in-image {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    color: #000;
    font-size: 20px;
    padding: 10px 10px 10px 16px;
    text-align: center;
}

.hide_sl {
    opacity: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 100px;
    background: rgba(0, 0, 0, .3);
    /* left: calc(50% - 100px); */
    color:#fff;
    transition: opacity .3s;
    z-index: 11;
}


.active-image:hover .hide_sl {
    opacity: 1;
    transition: opacity .3s;
}

.hide_sl:hover {
    opacity: 1;
    background-color: black;
    transition: opacity .3s;

}

.hide_load {
    opacity: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 100px;
    left:  200px;
    background: rgba(0, 0, 0, .3);
    /* left: calc(50% - 100px); */
    color:#fff;
    transition: opacity .3s;
    z-index: 11;
}


.active-image:hover .hide_load {
    opacity: 1;
    transition: opacity .3s;
}

.hide_load:hover {
    opacity: 1;
    color: white;
    background-color: black;
    transition: opacity .3s;
    
}

.animateForward {
	animation: effectLayerMoveLeft .5s ease-in forwards;
}

.search{
    position: fixed;
    margin-top: 10px;
    margin-left: 90px;
    width: 500px;
    height: 35px;
    font-size:20px;
    padding: 5px;
    border-radius: 5px;
    z-index: 12;
}

.search-btn{
    position: fixed;
    margin-top: 10px;
    margin-left: 590px;
    width: 100px;
    height: 35px;
    font-size:20px;
    padding: 5px;
    border-radius: 5px;
    z-index: 12;
}

/* 
@keyframes effectLayerMoveLeft {
    0% {
        transform: translateX(-20vw) scale(1);
	}
    50% {
        transform: translateX(0) scale(1.5);
	}
	100% {
        transform: translateX(45vw) scale(1);
	}
}

.animateBack {
	animation: effectLayerMoveRight .3s ease-in forwards;
}

@keyframes effectLayerMoveRight {
    0% {
        transform: translateX(5vw);
	}
    50% {
        transform: translateX(0) scale(0.5);
	}
	100% {
        transform: translateX(-45vw);
	}
}

.container #right-top .animateTop {
	animation: effectLayerMoveTop .3s ease-in forwards;
}

@keyframes effectLayerMoveTop {
    0% {
        transform: translateY(-45vw);
	}
    50% {
        transform: translateX(0);
	}
	100% {
        transform: translateX(5vw);
	}
}

.container #right-top .animateBottom {
	animation: effectLayerMoveBottom .3s ease-in forwards;
}

@keyframes effectLayerMoveBottom {
    0% {
        transform: translateY(-45vw);
	}
    50% {
        transform: translateX(0);
	}
	100% {
        transform: translateX(5vw);
	}
} */

